body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color:  #f1f1f1;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

a:visited {
    color: blue;
}

.card header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 7px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: static;
}

.card {
    display:flex;
    flex-direction: column;
    width: 450px;
}

.pricing {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
    }

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

#logo {
    animation-name: slidein;
    animation-duration: 5s;
}

@keyframes slidein {
    from {
      opacity: 0;
      width: 50px;
    }

    to {
      opacity: 1;
      width: 425px;
    }
  }

  @media screen and (min-width: 850px){
    header {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        width: 100%;
    }
  }

    .nav_links{
      display:flex;
      flex-direction: row;
  }

  .pricing {
    display:flex;
    flex-direction: row;
    flex-basis: 250px;
}

@media screen and (prefers-reduced-motion: reduce){
    #logo {
        animation-duration: 0s;
    }

}


@media print {
    body {
      background:none;
    }

    header{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_links{
      display:flex;
      flex-direction: row;
  }

  .pricing {
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-end;
}

.card{
    border: 2px solid #45ADDD;
}

.gallery{
    display: none;
}

#gallery{
    display: none;
}
  }
